@font-face {
  font-family: 'MuseoSansCyrlReg';
  src: url("../fonts/MuseoSansCyrl-500.eot");
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: 'MuseoSansCyrlBold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: "MuseoSansCyrlReg"; }

.mask-nav-3.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer; }

.mask-nav-3 {
  position: fixed;
  z-index: 502;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  -ms-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s; }

.nav-holder-4.is-active {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px); }

.main-content {
  padding-top: 67px; }

button, input {
  outline: none;
  border-radius: 0; }

button:focus, input:focus {
  outline: none; }

button {
  cursor: pointer; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.main-m-w {
  max-width: 1400px;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%; }

a:hover {
  text-decoration: none; }

a {
  outline: none; }

header {
  -webkit-box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 3px 32px 0px rgba(0, 0, 0, 0.18);
  background: #fff;
  z-index: 501;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  header .left-side {
    padding-left: 32px; }
    header .left-side .ham-menu {
      border: none;
      background: transparent;
      outline: none;
      display: block;
      padding: 5px 0 5px 55px;
      position: relative;
      font-size: 14px; }
      header .left-side .ham-menu .lines-wrapp {
        position: absolute;
        top: 7px;
        left: 0;
        width: 37px;
        display: block; }
        header .left-side .ham-menu .lines-wrapp .line {
          margin-bottom: 5px;
          display: block;
          height: 2px;
          background: #000; }
          header .left-side .ham-menu .lines-wrapp .line:last-child {
            width: 70%; }
  header .abs-logo {
    position: absolute;
    width: 100%;
    max-width: 1350px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    pointer-events: none; }
    header .abs-logo a, header .abs-logo span {
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      pointer-events: auto;
      color: #000; }
      header .abs-logo a span, header .abs-logo span span {
        color: #6f8f9d; }
  header .right-side {
    display: flex; }
  header form {
    border-left: 1px solid #dcdcdc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    width: auto; }
    header form.opened {
      border-left: none;
      width: 295px; }
      header form.opened:before {
        display: none; }
      header form.opened input {
        right: 40px; }
      header form.opened button:after {
        opacity: 1; }
    header form:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 20; }
    header form input {
      display: block;
      width: 210px;
      padding: 5px 0 5px 0px;
      font-size: 18px;
      color: #000;
      transition: 0.3s;
      outline: none;
      border: none;
      background-color: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -300px; }
      header form input:focus {
        color: #6f8f9d; }
        header form input:focus::-webkit-input-placeholder {
          color: #6f8f9d; }
        header form input:focus::-moz-placeholder {
          color: #6f8f9d; }
        header form input:focus:-moz-placeholder {
          color: #6f8f9d; }
        header form input:focus:-ms-input-placeholder {
          color: #6f8f9d; }
      header form input::-webkit-input-placeholder {
        color: #000;
        transition: 0.3s; }
      header form input::-moz-placeholder {
        color: #000;
        transition: 0.3s; }
      header form input:-moz-placeholder {
        color: #000;
        transition: 0.3s; }
      header form input:-ms-input-placeholder {
        color: #000;
        transition: 0.3s; }
    header form button {
      width: 19px;
      height: 19px;
      position: relative;
      z-index: 10;
      transition: 0.3s;
      display: block;
      background-color: transparent;
      background-image: url(../img/loop.png);
      background-position: center left;
      background-repeat: no-repeat;
      border: none; }
      header form button:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/loop-grey.png);
        opacity: 0;
        transition: 0.3s; }
  header .contacts {
    border-left: 1px solid #dcdcdc;
    position: relative; }
    header .contacts .cont-text {
      display: block;
      padding: 36px 47px 36px 82px;
      color: #000;
      font-size: 18px;
      background-repeat: no-repeat;
      background-image: url(../img/tel-1.png);
      background-position: center left 26%;
      transition: 0.3s; }
    header .contacts:hover .contacts-ins {
      visibility: visible;
      opacity: 1;
      pointer-events: auto; }
    header .contacts .contacts-ins {
      opacity: 0;
      transition: 0.3s;
      visibility: hidden;
      pointer-events: none;
      position: absolute;
      top: 100%;
      right: 0;
      background: #fff;
      -webkit-box-shadow: inset 0px 12px 30px -9px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: inset 0px 12px 30px -9px rgba(0, 0, 0, 0.18);
      box-shadow: inset 0px 12px 30px -9px rgba(0, 0, 0, 0.18);
      width: 600px; }
      header .contacts .contacts-ins .contacts-sub-menu {
        padding: 45px 40px 35px 150px; }
        header .contacts .contacts-ins .contacts-sub-menu .inf {
          position: relative; }
          header .contacts .contacts-ins .contacts-sub-menu .inf:first-child {
            margin-bottom: 40px; }
          header .contacts .contacts-ins .contacts-sub-menu .inf .head-inf {
            position: absolute;
            right: calc(100% + 20px);
            top: 1px; }
            header .contacts .contacts-ins .contacts-sub-menu .inf .head-inf p {
              font-size: 14px;
              text-transform: uppercase; }
          header .contacts .contacts-ins .contacts-sub-menu .inf .descr-inf {
            margin-bottom: 20px;
            font-size: 16px;
            color: #6f8f9d; }
          header .contacts .contacts-ins .contacts-sub-menu .inf a {
            font-size: 16px;
            color: #6f8f9d;
            padding-right: 30px; }
          header .contacts .contacts-ins .contacts-sub-menu .inf .abs-unq {
            position: absolute;
            bottom: 100%;
            font-size: 12px;
            color: #a1a1a1;
            left: 0; }

.main-baner {
  position: relative; }
  .main-baner .main-slider-init {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .main-baner .main-slider-init .slick-dots {
      margin: 0;
      list-style: none;
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-50%); }
      .main-baner .main-slider-init .slick-dots li {
        padding: 10px 0; }
        .main-baner .main-slider-init .slick-dots li.slick-active button {
          background: #6f8f9d; }
        .main-baner .main-slider-init .slick-dots li button {
          border-radius: 50%;
          display: block;
          border: none;
          background: #fff;
          font-size: 0;
          width: 9px;
          height: 9px;
          padding: 0; }
    .main-baner .main-slider-init .slide {
      height: 864px;
      outline: none;
      background-position: center;
      background-size: cover;
      position: relative; }
      .main-baner .main-slider-init .slide:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.45); }
  .main-baner .text-slide {
    position: relative;
    min-height: 864px;
    z-index: 5;
    display: flex;
    align-items: center;
    pointer-events: none; }
    .main-baner .text-slide h1, .main-baner .text-slide h2, .main-baner .text-slide h3, .main-baner .text-slide h4, .main-baner .text-slide h5, .main-baner .text-slide h6 {
      color: #fff;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      margin-bottom: 20px; }
      .main-baner .text-slide h1 span, .main-baner .text-slide h2 span, .main-baner .text-slide h3 span, .main-baner .text-slide h4 span, .main-baner .text-slide h5 span, .main-baner .text-slide h6 span {
        font-size: 24px;
        display: block; }
    .main-baner .text-slide .desc {
      color: #fff;
      margin-bottom: 24px;
      max-width: 1000px; }
    .main-baner .text-slide button {
      pointer-events: auto;
      width: 310px;
      display: block;
      border: none;
      outline: none;
      background: transparent;
      font-size: 18px;
      text-align: center;
      margin-bottom: 33px;
      font-weight: normal;
      padding: 10px 0; }
      .main-baner .text-slide button.get-consult {
        background: #6f8f9d;
        color: #fff;
        border-right: 5px solid #fff; }
      .main-baner .text-slide button.booking {
        background: #fff;
        color: #6f8f9d;
        border-right: 5px solid #6f8f9d; }

header.scrolled .contacts .cont-text {
  padding-top: 20px;
  padding-bottom: 20px; }

.sec-lvl-3 {
  padding: 60px 0 0 0; }
  .sec-lvl-3 .main-m-w.column4 {
    max-width: 1420px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
  .sec-lvl-3 .one-col-sec-3 {
    padding: 0 30px;
    width: 25%;
    margin-bottom: 45px; }
    .sec-lvl-3 .one-col-sec-3 .h {
      font-size: 16px;
      font-family: "MuseoSansCyrlBold";
      padding-left: 90px;
      text-transform: uppercase;
      color: #6f8f9d;
      margin-bottom: 17px;
      position: relative;
      line-height: 18px; }
      .sec-lvl-3 .one-col-sec-3 .h:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 23px;
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; }
      .sec-lvl-3 .one-col-sec-3 .h.h-1:before {
        background-image: url(../img/i-1.png); }
      .sec-lvl-3 .one-col-sec-3 .h.h-2:before {
        background-image: url(../img/i-2.png); }
      .sec-lvl-3 .one-col-sec-3 .h.h-3:before {
        background-image: url(../img/i-3.png); }
      .sec-lvl-3 .one-col-sec-3 .h.h-4:before {
        background-image: url(../img/i-4.png); }
      .sec-lvl-3 .one-col-sec-3 .h.h-5:before {
        background-image: url(../img/i-5.png); }
      .sec-lvl-3 .one-col-sec-3 .h.h-6:before {
        background-image: url(../img/i-6.png); }
      .sec-lvl-3 .one-col-sec-3 .h.h-7:before {
        background-image: url(../img/i-7.png); }
      .sec-lvl-3 .one-col-sec-3 .h.h-8:before {
        background-image: url(../img/i-8.png); }
    .sec-lvl-3 .one-col-sec-3 .descr {
      font-size: 12px; }

.price-section .head-sec {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
  margin-bottom: 27px; }
  .price-section .head-sec span {
    color: #6f8f9d;
    display: block; }
.price-section .button-download {
  display: block;
  border: none;
  outline: none;
  width: 310px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background: #6f8f9d;
  padding: 10px 0;
  color: #fff;
  -webkit-box-shadow: 0px 13px 24px -1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 13px 24px -1px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 13px 24px -1px rgba(0, 0, 0, 0.33); }
.price-section .flex-price-content {
  display: flex;
  align-items: flex-start; }
  .price-section .flex-price-content .left-side {
    width: 35%;
    padding-right: 15px;
    margin-bottom: 35px; }
    .price-section .flex-price-content .left-side .bg-block {
      background: #f9fbfa;
      padding: 20px; }
      .price-section .flex-price-content .left-side .bg-block .head {
        color: #6f8f9d;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700; }
      .price-section .flex-price-content .left-side .bg-block .flex-one-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12.5px; }
        .price-section .flex-price-content .left-side .bg-block .flex-one-price p {
          margin: 0; }
          .price-section .flex-price-content .left-side .bg-block .flex-one-price p.key {
            font-size: 18px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700; }
          .price-section .flex-price-content .left-side .bg-block .flex-one-price p.velue {
            font-size: 14px; }
  .price-section .flex-price-content .right-side {
    width: 65%;
    margin-bottom: 35px;
    padding-left: 15px; }
    .price-section .flex-price-content .right-side .bg-block {
      background: #f9fbfa;
      padding: 20px; }
      .price-section .flex-price-content .right-side .bg-block.not-flex .head {
        color: #6f8f9d;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700; }
      .price-section .flex-price-content .right-side .bg-block.not-flex .flex-one-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px; }
        .price-section .flex-price-content .right-side .bg-block.not-flex .flex-one-price p {
          margin: 0; }
          .price-section .flex-price-content .right-side .bg-block.not-flex .flex-one-price p.key {
            font-size: 14px;
            width: 100%; }
          .price-section .flex-price-content .right-side .bg-block.not-flex .flex-one-price p.velue {
            font-size: 14px; }
      .price-section .flex-price-content .right-side .bg-block.second-bl {
        margin-bottom: 30px; }
        .price-section .flex-price-content .right-side .bg-block.second-bl .flex-one-price {
          display: flex;
          margin-bottom: 10px;
          align-items: center; }
          .price-section .flex-price-content .right-side .bg-block.second-bl .flex-one-price p {
            margin-bottom: 0;
            font-size: 14px; }
            .price-section .flex-price-content .right-side .bg-block.second-bl .flex-one-price p.key {
              width: 100%; }
            .price-section .flex-price-content .right-side .bg-block.second-bl .flex-one-price p.velue-1 {
              width: 195px;
              flex-shrink: 0;
              text-align: right; }
            .price-section .flex-price-content .right-side .bg-block.second-bl .flex-one-price p.velue-2 {
              width: 195px;
              flex-shrink: 0;
              text-align: right; }
            .price-section .flex-price-content .right-side .bg-block.second-bl .flex-one-price p.velue-3 {
              text-align: center;
              width: 345px;
              flex-shrink: 0; }
    .price-section .flex-price-content .right-side .head-wrapp-flex {
      display: flex;
      align-items: center; }
      .price-section .flex-price-content .right-side .head-wrapp-flex .head {
        color: #6f8f9d;
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
        width: 100%;
        margin-bottom: 24px; }
      .price-section .flex-price-content .right-side .head-wrapp-flex .name-col {
        width: 195px;
        flex-shrink: 0;
        text-align: right;
        font-size: 14px; }

.sec-lvl-5 {
  padding: 40px 0;
  background: #6f8f9d;
  margin-bottom: 60px; }
  .sec-lvl-5 .main-m-w {
    max-width: 1420px;
    padding: 0; }
    .sec-lvl-5 .main-m-w .padd-unq {
      padding: 0 30px; }
      .sec-lvl-5 .main-m-w .padd-unq .sec-lvl-5-head {
        margin: 0;
        font-size: 22px;
        color: #fff;
        font-weight: 700;
        font-family: "Montserrat", sans-serif; }
      .sec-lvl-5 .main-m-w .padd-unq .after-head {
        color: #fff;
        font-size: 18px;
        margin-bottom: 33px; }
    .sec-lvl-5 .main-m-w .flex-wrapp-lvl-5 {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      list-style: none;
      margin: 0;
      padding: 0; }
      .sec-lvl-5 .main-m-w .flex-wrapp-lvl-5 .one-item {
        width: 33.33%;
        padding: 0 30px;
        margin: 0;
        margin-bottom: 29px; }
        .sec-lvl-5 .main-m-w .flex-wrapp-lvl-5 .one-item p {
          margin: 0;
          color: #fff;
          background-position: top 1px left;
          background-repeat: no-repeat;
          padding-left: 31px;
          background-image: url(../img/icon-sec-lvl-5.png); }

.sec-slider-category {
  margin-bottom: 20px; }
  .sec-slider-category.margin-70 {
    margin-bottom: 70px; }
  .sec-slider-category.more-margin {
    margin-bottom: 100px; }
  .sec-slider-category .tab-content > .tab-pane {
    display: block;
    visibility: hidden; }
  .sec-slider-category .tab-content > .active {
    visibility: visible; }
  .sec-slider-category .sec-lvl-6-head {
    font-size: 30px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase; }
    .sec-slider-category .sec-lvl-6-head span {
      color: #6f8f9d;
      display: block; }
  .sec-slider-category .after-head-descr {
    font-size: 14px;
    margin-bottom: 60px;
    width: 970px; }
    .sec-slider-category .after-head-descr.less-margin {
      margin-bottom: 20px; }
    .sec-slider-category .after-head-descr.more-width {
      width: 100%; }
  .sec-slider-category .sliders-wrapp .sldier-navigation {
    margin-bottom: 75px; }
    .sec-slider-category .sliders-wrapp .sldier-navigation .category {
      display: flex;
      align-items: center;
      margin: 0; }
      .sec-slider-category .sliders-wrapp .sldier-navigation .category li {
        width: 20%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }
        .sec-slider-category .sliders-wrapp .sldier-navigation .category li:last-child span:after {
          width: 50%; }
        .sec-slider-category .sliders-wrapp .sldier-navigation .category li:first-child span:after {
          width: 50%;
          left: 50%; }
        .sec-slider-category .sliders-wrapp .sldier-navigation .category li span {
          display: flex;
          height: 40px;
          text-align: center;
          justify-content: center;
          font-size: 14px;
          max-width: 150px;
          align-items: center;
          cursor: pointer; }
          .sec-slider-category .sliders-wrapp .sldier-navigation .category li span:before {
            content: "";
            display: block;
            position: absolute;
            top: calc(100% + 10px);
            left: 50%;
            transform: translateX(-50%);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #d0d0d0;
            z-index: 2;
            transition: 0.3s; }
          .sec-slider-category .sliders-wrapp .sldier-navigation .category li span:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background: #d0d0d0;
            top: calc(100% + 17px);
            left: 0; }
          .sec-slider-category .sliders-wrapp .sldier-navigation .category li span.active:before {
            background: #6f8f9d; }
    .sec-slider-category .sliders-wrapp .sldier-navigation .nav-tabs {
      border: none; }
  .sec-slider-category .sliders-wrapp .sliders-for {
    position: relative;
    min-height: 510px; }
    .sec-slider-category .sliders-wrapp .sliders-for .tab-pane {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
    .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz {
      height: 510px; }
      .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .slick-arrow {
        display: block;
        font-size: 0;
        width: 42px;
        height: 42px;
        border: none;
        border-radius: 50%;
        background-color: #6f8f9d;
        position: absolute;
        top: 70%;
        z-index: 20;
        background-image: url(../img/arrow-point-to-right.svg);
        background-repeat: no-repeat;
        background-position: center left 12px;
        background-size: 20px;
        cursor: pointer; }
        .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .slick-arrow.slick-prev {
          left: 20%;
          transform: rotate(180deg); }
        .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .slick-arrow.slick-next {
          right: 20%; }
      .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide {
        transition: 0.3s;
        outline: none;
        height: 510px; }
        .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide .one-slide-content {
          position: relative;
          transition: 0.3s;
          cursor: pointer; }
          .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide .one-slide-content .img-contain {
            height: 275px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom center;
            position: relative; }
          .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide .one-slide-content .descr a {
            display: block;
            font-size: 18px;
            text-align: center;
            color: #000;
            margin-bottom: 20px; }
            .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide .one-slide-content .descr a span {
              text-transform: uppercase;
              color: #6f8f9d; }
          .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide .one-slide-content .descr .go-to {
            display: block;
            width: 175px;
            display: block;
            margin: 0 auto;
            background: #030303;
            font-size: 12px;
            padding: 5px 0;
            text-align: center;
            margin-bottom: 33px;
            font-weight: normal;
            color: #fff;
            opacity: 0;
            transition: 0.3s;
            border-right: 5px solid #6f8f9d;
            box-shadow: 0px 13px 24px -1px rgba(0, 0, 0, 0.33); }
        .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide.slick-center .one-slide-content {
          transform: scale(1.2) translateY(70px);
          z-index: 10; }
          .sec-slider-category .sliders-wrapp .sliders-for .slider-ekz .one-slide.slick-center .one-slide-content .descr .go-to {
            opacity: 1; }

.sec-lvl-7 {
  background-image: url(../img/sec-7-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  margin-bottom: 50px; }
  .sec-lvl-7 .main-m-w .flex-list-brands {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none; }
    .sec-lvl-7 .main-m-w .flex-list-brands li {
      width: 16.66%; }
      .sec-lvl-7 .main-m-w .flex-list-brands li a {
        display: block;
        font-size: 16px;
        padding: 2.5px 15px 2.5px 40px;
        background-size: contain;
        background-position: center left;
        color: #000;
        margin-bottom: 10px;
        background-repeat: no-repeat; }

.reviews-wrapp {
  display: flex; }
  .reviews-wrapp .left-side {
    width: 800px;
    position: relative;
    flex-shrink: 0; }
    .reviews-wrapp .left-side .slider-wrapp-rev {
      box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 5;
      background: #fff; }
      .reviews-wrapp .left-side .slider-wrapp-rev .one-slide {
        background: #fff; }
        .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review {
          display: flex; }
          .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .image {
            min-height: 380px;
            width: 40%;
            background-size: cover;
            background-position: center; }
          .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description {
            width: 60%; }
            .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .head-of-descr {
              font-size: 14px;
              font-weight: 700;
              font-family: "Montserrat", sans-serif;
              padding: 16px 23px;
              margin: 0; }
              .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .head-of-descr span {
                text-transform: uppercase;
                color: #6f8f9d; }
            .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .mid-of-descr {
              background: #6f8f9d;
              padding: 15px 23px; }
              .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .mid-of-descr p {
                margin-bottom: 0;
                color: #fff; }
                .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .mid-of-descr p.key {
                  font-size: 12px; }
            .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .descr {
              padding: 27px 23px; }
              .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .descr .name-of-descriptor {
                margin-bottom: 20px; }
              .reviews-wrapp .left-side .slider-wrapp-rev .one-slide .flex-review .description .descr p {
                font-size: 14px; }
    .reviews-wrapp .left-side .navigation-slider {
      position: absolute;
      top: calc(100% + 20px);
      left: 0;
      display: flex;
      align-items: center; }
      .reviews-wrapp .left-side .navigation-slider .abs-other-text {
        margin-right: 40px;
        font-size: 18px;
        margin-bottom: 0; }
      .reviews-wrapp .left-side .navigation-slider .dots-in {
        position: relative; }
        .reviews-wrapp .left-side .navigation-slider .dots-in .slick-dots {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center; }
          .reviews-wrapp .left-side .navigation-slider .dots-in .slick-dots li {
            padding: 0 5px; }
            .reviews-wrapp .left-side .navigation-slider .dots-in .slick-dots li button {
              border: none;
              display: block;
              border-radius: 50%;
              padding: 0;
              width: 7px;
              height: 7px;
              background: #6f8f9d;
              font-size: 0;
              transition: 0.3s; }
            .reviews-wrapp .left-side .navigation-slider .dots-in .slick-dots li.slick-active button {
              transform: scale(1.3); }
      .reviews-wrapp .left-side .navigation-slider .slick-arrow {
        width: 14px;
        padding: 0;
        height: 16px;
        position: absolute;
        display: block;
        border: none;
        font-size: 0;
        background-color: transparent;
        background-image: url(../img/arrow-point-to-right-grey.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        top: 50%;
        transform: translateY(-50%); }
        .reviews-wrapp .left-side .navigation-slider .slick-arrow.slick-prev {
          right: calc(100% + 10px);
          transform: translateY(-50%) rotate(180deg); }
        .reviews-wrapp .left-side .navigation-slider .slick-arrow.slick-next {
          transform-origin: center;
          left: calc(100% + 10px); }
    .reviews-wrapp .left-side .shadowed-img {
      position: absolute;
      left: calc(100% - 10px);
      top: 0;
      width: 60px;
      height: 100%;
      background: #fff;
      box-shadow: 0px 11px 30px 0px rgba(0, 0, 0, 0.25);
      z-index: 4;
      transform: scale(0.8); }
      .reviews-wrapp .left-side .shadowed-img:before {
        content: "";
        display: block;
        position: absolute;
        top: 53px;
        left: 0;
        width: 100%;
        background: #6f8f9d;
        height: 72px; }
      .reviews-wrapp .left-side .shadowed-img.img-2 {
        left: calc(100% + 32px);
        z-index: 3;
        transform: scale(0.6); }
  .reviews-wrapp .right-side {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .reviews-wrapp .right-side .right-items-wrapp {
      max-width: 415px; }
      .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; }
        .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col {
          width: 50%;
          margin-bottom: 38px;
          display: flex;
          position: relative;
          align-items: center; }
          .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col .bg-line {
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            pointer-events: none; }
            .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col .bg-line.bg-line-1 {
              width: 228px;
              height: 154px;
              background-image: url(../img/line-1.png);
              top: 56px;
              right: calc(100% - 26px); }
            .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col .bg-line.bg-line-2 {
              width: 346px;
              height: 232px;
              background-image: url(../img/line-2.png);
              top: -99px;
              right: calc(100% + 77px); }
            .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col .bg-line.bg-line-3 {
              width: 393px;
              height: 240px;
              background-image: url(../img/line-3.png);
              top: -37px;
              right: calc(100% + -140px); }
          .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col .img-wrapp {
            flex-shrink: 0;
            margin-right: 15px; }
          .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col p {
            margin: 0;
            font-size: 11px;
            font-family: "MuseoSansCyrlBold"; }
            .reviews-wrapp .right-side .right-items-wrapp .for-flex-col-r .one-col p span {
              font-size: 20px;
              color: #6f8f9d; }
      .reviews-wrapp .right-side .right-items-wrapp .butt-wrapper {
        background: #fff;
        position: relative;
        z-index: 5;
        margin: 0 auto;
        max-width: 305px;
        padding: 20px 0; }
        .reviews-wrapp .right-side .right-items-wrapp .butt-wrapper .booking {
          display: block;
          width: 100%;
          margin: 0 auto;
          border: none;
          background: #030303;
          font-size: 13px;
          padding: 7px 0;
          text-align: center;
          font-weight: normal;
          color: #fff;
          transition: 0.3s;
          border-right: 5px solid #6f8f9d;
          box-shadow: 0px 13px 24px -1px rgba(0, 0, 0, 0.33); }

.gray-bg-opp {
  background: #f3f4f6;
  padding: 20px 0;
  margin-bottom: 70px; }
  .gray-bg-opp .for-max-width {
    display: flex;
    align-items: center;
    min-height: 140px;
    max-width: 1770px;
    margin: 0 auto; }
    .gray-bg-opp .for-max-width .some-logo {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }

.wwd-blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; }
  .wwd-blocks .wwd-block {
    padding: 0 30px;
    margin: 25px 0;
    width: 33.33%;
    text-align: center; }
    .wwd-blocks .wwd-block .img-vlock {
      height: 90px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-bottom: 15px; }
    .wwd-blocks .wwd-block p {
      font-size: 18px; }

.v-player {
  position: relative; }
  .v-player iframe {
    height: 404px;
    border: none;
    width: 100%; }

.cover-iframe {
  height: 191px;
  margin-bottom: 22px;
  background-size: cover;
  background-position: center;
  cursor: pointer; }

.cover-iframe-player {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 7px);
  background: #000;
  background-position: center;
  background-size: cover; }

.form-callback-wrapp {
  background: #f9fbfa;
  margin-bottom: 110px; }
  .form-callback-wrapp .main-m-w {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10px;
    position: relative; }
    .form-callback-wrapp .main-m-w .left-side {
      width: 100%;
      max-width: 630px;
      padding: 80px 15px; }
      .form-callback-wrapp .main-m-w .left-side .sec-lvl-6-head {
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px; }
        .form-callback-wrapp .main-m-w .left-side .sec-lvl-6-head span {
          display: block;
          color: #6f8f9d; }
      .form-callback-wrapp .main-m-w .left-side .second-text {
        margin-bottom: 75px; }
      .form-callback-wrapp .main-m-w .left-side .l-s-block {
        margin-bottom: 27px; }
        .form-callback-wrapp .main-m-w .left-side .l-s-block p {
          margin-bottom: 0; }
          .form-callback-wrapp .main-m-w .left-side .l-s-block p:first-child {
            margin-bottom: 12px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 18px; }
        .form-callback-wrapp .main-m-w .left-side .l-s-block:last-child {
          margin-bottom: 0; }
    .form-callback-wrapp .main-m-w .right-side {
      padding: 0 15px;
      width: calc(33.33% - 30px);
      position: absolute;
      height: calc(100% + 80px);
      top: -40px;
      right: 10px;
      background-image: url(../img/form-bg.jpg);
      background-position: center;
      background-size: cover; }
      .form-callback-wrapp .main-m-w .right-side .padd-wrapp {
        position: relative; }
        .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form {
          padding: 105px 60px 75px 60px; }
          .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form p {
            text-align: center; }
          .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .head-form {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 24px;
            color: #fff;
            margin-bottom: 55px;
            text-transform: uppercase; }
          .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .sec-t {
            font-size: 14px;
            color: #fff;
            margin-bottom: 40px; }
          .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text {
            font-size: 12px;
            display: block;
            margin: 0 auto 10px auto;
            width: 100%;
            max-width: 250px;
            padding: 13px 13px 13px 54px;
            background: transparent;
            border: none;
            opacity: 0.5;
            border-bottom: 1px solid #fff;
            transition: 0.3s;
            background-repeat: no-repeat;
            background-position: center left 11px;
            color: #fff; }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text.tel-inp {
              background-image: url(../img/icon-form-1.png); }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text.name-inp {
              background-image: url(../img/icon-form-2.png); }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text:focus {
              opacity: 1; }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text::-webkit-input-placeholder {
              color: #fff; }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text::-moz-placeholder {
              color: #fff; }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text:-moz-placeholder {
              color: #fff; }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .inp-text:-ms-input-placeholder {
              color: #fff; }
          .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .subm-butt-wrapp {
            padding-top: 40px;
            margin-bottom: 25px; }
            .form-callback-wrapp .main-m-w .right-side .padd-wrapp .m-w-cont-form .subm-butt-wrapp button {
              display: block;
              width: 100%;
              margin: 0 auto;
              border: none;
              background: #6e8e9c;
              font-size: 14px;
              padding: 7px 0;
              text-align: center;
              font-weight: normal;
              color: #fff;
              transition: 0.3s;
              border-right: 5px solid #fff;
              box-shadow: 0px 13px 24px -1px rgba(0, 0, 0, 0.33); }

.checkbox-wr {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden; }
  .checkbox-wr .check-style {
    flex-shrink: 0;
    width: 16px;
    margin-right: 12px; }
    .checkbox-wr .check-style .checkbox {
      width: 0;
      height: 0;
      display: block;
      position: absolute;
      left: -5000px;
      top: 0; }
    .checkbox-wr .check-style label {
      cursor: pointer;
      width: 16px;
      height: 16px;
      border: 3px solid #6f8f9d;
      display: block;
      background: transparent;
      position: relative; }
      .checkbox-wr .check-style label:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.2s;
        background: #6f8f9d;
        opacity: 0; }
    .checkbox-wr .check-style .checkbox:checked + label:before {
      opacity: 1; }
  .checkbox-wr p {
    color: #fff;
    font-size: 12px;
    margin-bottom: 0 !important;
    text-align: left !important; }
    .checkbox-wr p span {
      cursor: pointer; }

.news-wrapp {
  margin-bottom: 45px; }
  .news-wrapp .main-m-w {
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
    position: relative;
    flex-wrap: wrap;
    max-width: 1450px; }
    .news-wrapp .main-m-w .one-new-wrapp {
      width: 33.33%;
      padding: 0 15px;
      margin-bottom: 30px; }
      .news-wrapp .main-m-w .one-new-wrapp.big {
        width: 66.66%; }
        .news-wrapp .main-m-w .one-new-wrapp.big .one-new .name-new .descr-new {
          color: #fff;
          font-size: 11px;
          margin-bottom: 0; }
      .news-wrapp .main-m-w .one-new-wrapp .one-new {
        position: relative;
        height: 340px;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        cursor: pointer; }
        .news-wrapp .main-m-w .one-new-wrapp .one-new:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4); }
        .news-wrapp .main-m-w .one-new-wrapp .one-new .date {
          position: absolute;
          top: 20px;
          right: 25px;
          color: #fff;
          font-size: 12px; }
        .news-wrapp .main-m-w .one-new-wrapp .one-new .name-new {
          position: relative;
          z-index: 2;
          height: 105px;
          width: 100%;
          padding: 20px 30px; }
          .news-wrapp .main-m-w .one-new-wrapp .one-new .name-new a {
            display: block;
            font-size: 17px;
            color: #fff; }

.prefoot-sec {
  margin-bottom: 40px; }
  .prefoot-sec .main-m-w {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1430px; }
    .prefoot-sec .main-m-w .side {
      max-width: 356px;
      width: 100%; }
      .prefoot-sec .main-m-w .side .for-center-flex {
        display: flex;
        align-items: center; }
        .prefoot-sec .main-m-w .side .for-center-flex img {
          flex-shrink: 0;
          margin-right: 20px; }
        .prefoot-sec .main-m-w .side .for-center-flex p {
          font-size: 14px;
          margin-bottom: 0; }

footer .top {
  background: #f9fbfa;
  padding: 45px 0; }
  footer .top .main-m-w {
    display: flex;
    max-width: 1450px;
    justify-content: space-between; }
    footer .top .main-m-w .side {
      width: 33.33%;
      padding: 0 15px; }
    footer .top .main-m-w .left-side .head {
      font-size: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      margin-bottom: 35px; }
    footer .top .main-m-w .left-side .second {
      margin-bottom: 35px; }
      footer .top .main-m-w .left-side .second p {
        margin-bottom: 5px;
        font-size: 14px;
        color: #7e7e7e; }
      footer .top .main-m-w .left-side .second .flex-tel {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        footer .top .main-m-w .left-side .second .flex-tel a {
          display: block;
          font-size: 20px;
          font-family: "MuseoSansCyrlBold";
          color: #000; }
    footer .top .main-m-w .left-side .where {
      margin-bottom: 20px; }
      footer .top .main-m-w .left-side .where p {
        font-size: 12px;
        margin-bottom: 0; }
        footer .top .main-m-w .left-side .where p:first-child {
          font-size: 14px;
          margin-bottom: 14px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700; }
      footer .top .main-m-w .left-side .where:last-child {
        margin-bottom: 0; }
    footer .top .main-m-w .mid-side {
      max-width: 350px;
      display: flex;
      justify-content: space-between; }
      footer .top .main-m-w .mid-side .side-of-mid .head {
        font-size: 18px;
        font-family: "MuseoSansCyrlBold";
        margin-bottom: 30px; }
      footer .top .main-m-w .mid-side .side-of-mid ul {
        margin: 0;
        list-style: none;
        padding: 0; }
        footer .top .main-m-w .mid-side .side-of-mid ul li {
          margin-bottom: 12px; }
          footer .top .main-m-w .mid-side .side-of-mid ul li a {
            color: #7e7e7e;
            font-size: 14px; }
    footer .top .main-m-w .right-side {
      display: flex;
      align-items: center; }
      footer .top .main-m-w .right-side .alighn {
        width: 100%; }
        footer .top .main-m-w .right-side .alighn .head {
          font-size: 12px;
          color: #7e7e7e;
          margin-bottom: 16px; }
        footer .top .main-m-w .right-side .alighn form {
          display: flex;
          margin-bottom: 40px; }
          footer .top .main-m-w .right-side .alighn form input {
            width: 100%;
            display: block;
            background: #fff;
            font-size: 12px;
            border: none;
            padding: 7px 13px; }
            footer .top .main-m-w .right-side .alighn form input::-webkit-input-placeholder {
              color: #7e7e7e; }
            footer .top .main-m-w .right-side .alighn form input::-moz-placeholder {
              color: #7e7e7e; }
            footer .top .main-m-w .right-side .alighn form input:-moz-placeholder {
              color: #7e7e7e; }
            footer .top .main-m-w .right-side .alighn form input:-ms-input-placeholder {
              color: #7e7e7e; }
          footer .top .main-m-w .right-side .alighn form button {
            flex-shrink: 0;
            display: block;
            border: none;
            width: 115px;
            color: #fff;
            background: #6f8f9d;
            font-size: 12px; }
        footer .top .main-m-w .right-side .alighn .some-t {
          font-size: 14px;
          color: #969696; }
footer .bott {
  display: flex;
  justify-content: center;
  padding: 20px 0; }
  footer .bott .main-m-w {
    position: relative; }
  footer .bott img {
    margin: 0 auto; }
  footer .bott .des {
    display: block;
    text-align: center;
    font-size: 10px;
    color: #8d8d8d;
    padding-top: 10px;
    text-transform: uppercase; }
  footer .bott .politics {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    display: block;
    cursor: pointer;
    font-size: 10px;
    color: #8d8d8d;
    letter-spacing: 1px;
    z-index: 2; }

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-400px);
  width: 330px;
  height: 100%;
  background: #fff;
  z-index: 1000;
  transition: 0.3s;
  -webkit-box-shadow: 13px 0px 24px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 13px 0px 24px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 13px 0px 24px 0px rgba(0, 0, 0, 0.35); }
  .main-menu nav {
    position: relative;
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .main-menu nav .top-side {
      margin-bottom: 37px; }
    .main-menu nav .menu-text {
      width: 100%;
      background: #6f8f9d;
      padding: 33px 20px 33px 38px; }
      .main-menu nav .menu-text .ham-menu {
        border: none;
        background: transparent;
        outline: none;
        display: block;
        padding: 5px 0 5px 55px;
        position: relative;
        font-size: 14px; }
        .main-menu nav .menu-text .ham-menu .lines-wrapp {
          position: absolute;
          top: 7px;
          left: 0;
          width: 37px;
          display: block; }
          .main-menu nav .menu-text .ham-menu .lines-wrapp .line {
            margin-bottom: 5px;
            display: block;
            height: 2px;
            background: #fff; }
            .main-menu nav .menu-text .ham-menu .lines-wrapp .line:last-child {
              width: 70%; }
        .main-menu nav .menu-text .ham-menu .text {
          color: #fff; }
    .main-menu nav .first-lvl-menu {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 37px; }
      .main-menu nav .first-lvl-menu .first-lvl-menu-item {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .main-menu nav .first-lvl-menu .first-lvl-menu-item.click-open .first-lvl-menu-link {
          position: relative; }
          .main-menu nav .first-lvl-menu .first-lvl-menu-item.click-open .first-lvl-menu-link:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            right: 20px;
            width: 9px;
            height: 9px;
            background-image: url(../img/arrows-menu.png);
            transform: translateY(-50%); }
        .main-menu nav .first-lvl-menu .first-lvl-menu-item .first-lvl-menu-link {
          display: block;
          padding: 20px 15px 20px 38px;
          cursor: pointer;
          color: #000;
          font-size: 16px;
          border-bottom: 1px solid #e8e8e8; }
        .main-menu nav .first-lvl-menu .first-lvl-menu-item .second-lvl-menu {
          display: none;
          list-style: none;
          padding-left: 50px;
          margin: 0;
          border-bottom: 1px solid #e8e8e8; }
          .main-menu nav .first-lvl-menu .first-lvl-menu-item .second-lvl-menu .second-lvl-menu-item {
            margin-bottom: 10px; }
            .main-menu nav .first-lvl-menu .first-lvl-menu-item .second-lvl-menu .second-lvl-menu-item:first-child {
              padding-top: 10px; }
            .main-menu nav .first-lvl-menu .first-lvl-menu-item .second-lvl-menu .second-lvl-menu-item a {
              color: #000;
              font-size: 14px; }
    .main-menu nav .politics {
      display: block;
      padding-left: 38px;
      cursor: pointer;
      font-size: 10px;
      color: #8d8d8d; }
    .main-menu nav .image-menu {
      width: 100%;
      margin-bottom: 40px; }
      .main-menu nav .image-menu img {
        margin: 0 auto; }
  .main-menu nav::-webkit-scrollbar {
    background: #fff;
    width: 5px; }
  .main-menu nav::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2.5px;
    cursor: pointer; }

.breads {
  padding: 10px 0;
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .breads li {
    padding-right: 27px;
    font-size: 12px;
    position: relative;
    margin-bottom: 10px; }
    .breads li:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 11px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #6f8f9d;
      transform: translateY(-50%); }
    .breads li:last-child:after {
      display: none; }
    .breads li a {
      color: #000; }

.other-page-contant h1 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 30px; }

.news-wrapp.news-newspage .main-m-w {
  max-width: 1415px; }

.one-new-main-wrapper .text-wrapper {
  margin-bottom: 60px; }
  .one-new-main-wrapper .text-wrapper .head-new {
    position: relative;
    padding-right: 130px;
    margin-bottom: 35px; }
    .one-new-main-wrapper .text-wrapper .head-new h1 {
      max-width: 1000px;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      margin-bottom: 0; }
    .one-new-main-wrapper .text-wrapper .head-new .when {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 14px; }
  .one-new-main-wrapper .text-wrapper.full-width h1, .one-new-main-wrapper .text-wrapper.full-width h2, .one-new-main-wrapper .text-wrapper.full-width h3, .one-new-main-wrapper .text-wrapper.full-width h4, .one-new-main-wrapper .text-wrapper.full-width h5, .one-new-main-wrapper .text-wrapper.full-width h6, .one-new-main-wrapper .text-wrapper.full-width p {
    max-width: 100%; }
  .one-new-main-wrapper .text-wrapper h1 {
    font-size: 30px;
    margin-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  .one-new-main-wrapper .text-wrapper h2, .one-new-main-wrapper .text-wrapper h3, .one-new-main-wrapper .text-wrapper h4, .one-new-main-wrapper .text-wrapper h5, .one-new-main-wrapper .text-wrapper h6 {
    margin-bottom: 20px;
    max-width: 1000px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  .one-new-main-wrapper .text-wrapper p {
    font-size: 14px;
    max-width: 1000px; }
  .one-new-main-wrapper .text-wrapper .image-bg {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px; }
    .one-new-main-wrapper .text-wrapper .image-bg:before {
      content: '';
      display: block;
      padding-top: 54%;
      position: relative; }
    .one-new-main-wrapper .text-wrapper .image-bg .image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: center no-repeat;
      background-size: cover; }
.one-new-main-wrapper h6 {
  margin-bottom: 25px;
  max-width: 1000px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.turbina-model-wrapp .image-model {
  height: 275px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
.turbina-model-wrapp .name-brand {
  display: block;
  font-size: 21px;
  text-align: center;
  color: #000;
  margin-bottom: 20px; }
  .turbina-model-wrapp .name-brand span {
    text-transform: uppercase;
    color: #6f8f9d; }
.turbina-model-wrapp .list-model {
  padding: 0;
  margin: 0 auto 40px;
  max-width: 1060px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center; }
  .turbina-model-wrapp .list-model li a {
    display: block;
    padding: 5px 11px;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    transition: 0.3s; }
    .turbina-model-wrapp .list-model li a:hover {
      background: #6f8f9d;
      color: #fff; }

.seo-text-wrapp-category {
  margin-bottom: 70px; }
  .seo-text-wrapp-category h1, .seo-text-wrapp-category h2, .seo-text-wrapp-category h3, .seo-text-wrapp-category h4, .seo-text-wrapp-category h5, .seo-text-wrapp-category h6 {
    font-size: 18px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 14px; }
  .seo-text-wrapp-category p {
    margin-bottom: 25px; }

.flex-turbo-char {
  display: flex;
  align-items: center;
  margin-bottom: 60px; }
  .flex-turbo-char .img-turb {
    width: 25%;
    min-height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .flex-turbo-char .right-side-char {
    width: 75%;
    padding-left: 20px; }
    .flex-turbo-char .right-side-char .one-turbo {
      padding: 20px 0;
      border-bottom: 2px solid #6f8f9d; }
      .flex-turbo-char .right-side-char .one-turbo .row {
        display: flex;
        align-items: center; }
        .flex-turbo-char .right-side-char .one-turbo .row p {
          margin: 0;
          font-weight: bold;
          font-size: 12px; }
          .flex-turbo-char .right-side-char .one-turbo .row p.name {
            font-size: 18px;
            margin-bottom: 20px;
            text-transform: uppercase; }
          .flex-turbo-char .right-side-char .one-turbo .row p.text-head-sm {
            margin-bottom: 10px; }
        .flex-turbo-char .right-side-char .one-turbo .row a, .flex-turbo-char .right-side-char .one-turbo .row span {
          display: block;
          font-size: 12px;
          font-family: "Montserrat", sans-serif;
          font-weight: 700;
          color: #000; }
        .flex-turbo-char .right-side-char .one-turbo .row .consult-one-serv {
          display: flex;
          align-items: center;
          justify-content: center; }
          .flex-turbo-char .right-side-char .one-turbo .row .consult-one-serv span {
            font-size: 14px;
            text-align: center; }
          .flex-turbo-char .right-side-char .one-turbo .row .consult-one-serv button {
            display: block;
            width: 100%;
            max-width: 243px;
            margin: 0 auto;
            border: none;
            background: #6e8e9c;
            font-size: 14px;
            padding: 7px 0;
            text-align: center;
            font-weight: normal;
            color: #fff;
            transition: 0.3s;
            border-right: 5px solid #fff;
            box-shadow: 0px 13px 24px -1px rgba(0, 0, 0, 0.33); }

/*# sourceMappingURL=style.css.map */
